services:

  frontend:
    image: mateusznasewicz/todo-app-frontend:latest
    container_name: todo-app-frontend
  
  backend:
    image: mateusznasewicz/todo-app-backend:latest
    container_name: todo-app-backend

  keycloak:
    image: keycloak/keycloak:latest
    container_name: keycloack
  
  database:
    image: postgres:latest
    container_name: postgres
  
  minio:
    image: minio/minio:latest
    container_name: minio

  proxy:
    image: nginx:latest
    container_name: reverese_proxy
    ports:
      - "80:80"
    configs:
      - source: proxy_config
        target: /etc/nginx/conf.d/default.conf
    depends_on:
      - backend
      - frontend

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus 

  grafana:
    image: grafana/grafana:latest
    container_name: grafana

configs:
  proxy_config:
    file: ./proxy.conf