services:

  frontend:
    image: mateusznasewicz/todo-app-frontend:latest
    container_name: todo-app-frontend
  
  backend:
    image: mateusznasewicz/todo-app-backend:latest
    container_name: todo-app-backend
    env_file:
      - ./terraform/.env
    environment:
      DB_URL: database
      DB_PORT: 5432
      DB_NAME: todo-app
      DB_USER: userdb
      DB_PASSWORD: passdb
      SERVER_PORT: 8080
      MINIO_ENDPOINT: http://minio:9000
    depends_on:
      - database

  keycloak:
    image: keycloak/keycloak:latest
    container_name: keycloak
    command: start-dev
    volumes:
      - keycloak_data:/opt/keycloak/data
    environment:
      KC_HTTP_ENABLED: "true"
      KC_HTTP_RELATIVE_PATH: /auth
  
  database:
    image: postgres:latest
    container_name: postgres
    volumes:
      - postgres_data:/var/lib/postgresql
    environment:
      POSTGRES_PASSWORD: passdb
      POSTGRES_USER: userdb
      POSTGRES_DB: todo-app
  
  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
      MINIO_BROWSER_REDIRECT_URL: http://console.minio.localhost
  proxy:
    image: nginx:latest
    container_name: reverese_proxy
    ports:
      - "80:80"
    configs:
      - source: proxy_config
        target: /etc/nginx/conf.d/default.conf

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus 

  grafana:
    image: grafana/grafana:latest
    container_name: grafana

configs:
  proxy_config:
    file: ./proxy.conf
  realm_config:
    file: ./realm.json

volumes:
  postgres_data:
  keycloak_data:
  minio_data: